<h1><%= @place.name %></h1>

<h2>Posts</h2>
<ul>
<% for posts in @place.posts %>
    <li>
        <p><h2><%= posts.title %><h2></p>
        <p><h4><%= posts.posted_on %></h4></p>
        <p><h3><%= posts.description%></h3></p>   
        <p>----------------------------------------</p>
    </li>
<% end %>
</ul>

<a href = "/posts/new?place_id=<%= @place.id %>">Add a new post!</a>


<p>
  
  <%= button_to "Delete this place", @place,  method: :delete %>
</p>


<%= button_to "Back to all places", "/places", :method => "get" %>



 

